<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Darumadrop+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Darumadrop+One&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dispatch.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <header>
            <h1>Completed Dispatch</h1>
            <div class="header-rightSide">
                <a href="" class="account"><img src="..\media\media\icon.svg" alt="user icon"> Admin</a>
            </div>
        </header>
        <div class="side-bar">
            <div class="logo">
                <img src="..\media\media\logo.svg" alt="logo">
                <div class="logo-text">
                    <h1 class="Manrope">My</h1>
                    <h4 class="Manrope">Coffee <span>shop</span></h4>
                </div>
            </div>
            <ul class="sidebar-Maincontent">
                <a href="{% url 'riderhome' %}" class="sidebar-btn"><li class="sidebar-content"><img src="..\media\media\sidebar-icon1.svg" alt="" class="sidebar-icon"> Riders</li></a>
                <a href="{% url 'dispatchhome' %}" class="sidebar-btn"><li class="sidebar-content"><img src="..\media\media\side-barIcon2.svg" alt="" class="sidebar-icon"> Dispatch</li></a>
                <a href="{% url 'dispatchcomplete' %}" class="sidebar-btn"><li class="sidebar-content"><img src="..\media\media\side-barIcon2.svg" alt="" class="sidebar-icon"> Complete Order</li></a>
            </ul>
        </div>
        <div class="content">
            <div class="content-menu">
                <div class="upper-menu">
                    <div class="bg">
                        <img src="../media/media/dispatchBg.svg" class="bgImg">
                    </div>
                    <div class="container">
                        <div class="coffee-life">
                            <span class="upper-text align=baseline">Coffee</span>
                        </div>
                        <div class="bottom-text">
                            <span class="upper-text bottom-text">Life</span>
                        </div>
                    </div>
                    <img src="../media/media/dispatchImg.svg" class="coffee">
                </div>
                <div class="lower-menu container">
                    <div class="rider-table container-xl text-center col">
                        <div class="menu-header menu row">
                            <div class="disTable col">
                                <span class="fs-3 fw-bold">Dispatch</span>
                            </div>
                            <div class="disSearch col">
                                <button class="refresh"><img src="..\media\media\refresh.svg" alt="" class="menu-icons"></button>
                                <div class="search">
                                    <input type="text" placeholder="Search" class="search-input">
                                    <img src="..\media\media\search.svg" alt="he" class="menu-icons search-icon">
                                </div>
                            </div>
                        </div>
                        <div class="menu-categories row">
                            <ul class="menu-info menu">
                                <li class="col">Order ID</li>
                                <li class="col">Order Info</li>
                                <li class="col">Payment</li>
                                <li class="col">Rider</li>
                                <li class="col">Status</li>
                                <li class="col">Date</li>
                                <li class="col">Pickup Address</li>
                                <li class="col">Dropoff Address</li>
                            </ul>
                        </div>
                        {% csrf_token %}
                        <div class="menu-mainTable">
                            {% for dispatch in all_complete %}
                            <ul class="menu-info menu">
                                <li class="col">DID-000{{ dispatch.dispatchid }}</li>
                                <li class="col">{{ dispatch.order }}</li>
                                <li class="col">{{ dispatch.orderpayment }}</li>
                                <li class="col">{{ dispatch.dispatchrider }}</li>
                                <li class="col">{{ dispatch.status }}</li>
                                <li class="col">{{ dispatch.deliverydate }}</li>
                                <li class="col">{{ dispatch.pickup }}</li>
                                <li class="col">{{ dispatch.dropoff }}</li>
                            </ul>
                            {% endfor %}
                        </div>
                        
                        
                        
                        <div class="menu-footer menu row">
                            <div class="menu-row menu col">
                                <span>Rows per page:</span>
                                <label for="page-rows"></label>
                                <select name="page-rows" id="page-rows">
                                    <option value="10">10</option>
                                    <option value="9">9</option>
                                    <option value="8">8</option>
                                </select>
                                
                            </div>
                            <div class="page-menu col">
                                <span>1-2 of 2</span>
                            </div>
                            <div class="menuFooter-Btn menu col ">
                                <button class="pageBtn"><img src="../media/media/pageBtn1.svg"></button>
                                <button class="pageBtn"><img src="../media/media/pageBtn2.svg"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    
</body>
</html>